<body class="b">

<nav class="nav">
    <h1>Shoe E-COMM Site</h1>
    <div class="nav-search" >
        <input type = "text" placeholder="Search for Products"/>
        <button class="btn">Search</button>
    </div> 
<ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Seller</a></li>
    <li><a href="#">Login</a></li>
    <li><a href="#">Cart(0)</a></li>
</ul> 
</nav>


<hr>

<div>
    <h2>Products</h2>
        <!-- Assuming shoes is an array of IProduct objects -->
            <div *ngFor="let shoe of shoes">
                <span class="id">{{shoe.id}}</span>
                <span class="name">{{shoe.name}}</span>
                <span class="description">{{shoe.description}}</span>
            </div>
    
</div>

</body>



