<body>

<nav class="nav">
    <h1>Shoe Site</h1>
    <div class="nav-search" >
        <input type = "text" placeholder="Search for Products"/>
        <button class="btn">Search</button>
    </div> 
<ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Seller</a></li>
    <li><a href="#">Login</a></li>
    <li><a href="#">Cart(0)</a></li>
</ul> 
</nav>


<hr>
    <h2>Best Sellers</h2>
        <div class="product-container">
            <div *ngFor="let shoe of shoes" class="product-card">

              <div class="row">
                <img class="value" [src]="shoe.image" alt="Product Image" />
              </div>  
              <div class="row">
                <span class="label">ID:</span>
                <span class="value">{{shoe.id}}</span>
              </div>
              <div class="row">
                <!-- <span class="label">Name:</span> -->
                <span class="valuedescription">{{shoe.name}}</span>
              </div>
              <div class="row">
                <span class="label">Description:</span>
                <span class="value">{{shoe.description}}</span>
              </div>
              <div class="row">
                <span class="label">Price:</span>
                <span class="value">{{shoe.price}}</span>
              </div>
            </div>
          </div>

<hr>

<h2>New arrival</h2>     
<div class="product-container">
  <div *ngFor="let newshoe of newshoes" class="product-card">
    <div class="row">
      <img class="value" [src]="newshoe.Nimage" alt="Product Image" />
    </div>  
    <div class="row">
      <span class="label">ID:</span>
      <span class="value">{{newshoe.Nid}}</span>
    </div>
    <div class="row">
      <span class="valuedescription">{{newshoe.Nname}}</span>
    </div>
    <div class="row">
      <span class="label">Description:</span>
      <span class="value">{{newshoe.Ndescription}}</span>
    </div>
    <div class="row">
      <span class="label">Price:</span>
      <span class="value">{{newshoe.Nprice}}</span>
    </div>
  </div>
</div>

</body>



